# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Django
# --------------------
db.sqlite3
*.sqlite3
*.log
local_settings.py

# --------------------
# Environment / venv
# --------------------
.env
.venv/
venv/
env/

# --------------------
# OS / IDE
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Static & media
# --------------------
staticfiles/
media/

# --------------------
# Docker / runtime
# --------------------
*.pid
